<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body class="loading-body" id="body">
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    
    <main class="main" style="display: flex; justify-content: center; align-items: center; flex-direction: column; ">
      <% if (error) { %>
    <div class="error">
      <span class="error-msg"><%= msg %></span>
    </div>      
      <% } else if (success) { %>
      <div class="success">
        <span class="success-msg">Successfuly add</span>
      </div>
      <% } %>    
      <div class="box-1">
        <span class="box-1-title">Hi <%= req.session.user.Username %>!</span>
        <hr style='border-color: black; margin-top: 10px;'>
        <form method="post" id="form">
        <div class="box-1-list">
          <div class="box-1-input">
            <label for="userid">Add with user id</label>
    <% if (add) { %>
    <input class="input-box" type="text" name="userid" id="user" placeholder="user id" value="<%= add %>" autocomplete="off" required>
    <% } else { %>
    <input class="input-box" type="text" name="userid" id="user" placeholder="user id" autocomplete="off" required>
    <% } %>            
          </div>       
        </div>
          <div class="box-1-submit">
            <a href="/me">cancel</a>
            <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
              Add
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script>
      let form = document.getElementById("form");
      
      form.addEventListener("submit", evt => {
        
        evt.preventDefault();
        
        fetch("https://zhat.cf/me/add", {method: "POST", body: JSON.stringify({
          userid: document.getElementById("user").value ? document.getElementById("user").value : null 
        })}).then(res => res.json()).then(data => {
          console.log(data)
          return;
        });
        
        
      })
      
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
    </script>
    <script>
    let socket = io();
      
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
                  
      socket.on("someoneOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
      
        
        user.classList.remove("offline")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online'  
      })
      
      socket.on("newMessage", (opt) => {
        let user = document.getElementById(`${opt.id}-lastmsg`);
        if (opt.to !== '<%= req.session.user.UID %>') return;
        if (!user) return;
        
        user.innerHTML = `${opt.id == '<%= req.session.user.UID %>' ? '(you):' : '(new messages):'} ${opt.msg}`;
      })
                  
      socket.on("isOnline", userId => {
        socket.emit("updateOnline", '<%= req.session.user.UID %>')
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is online`)
        
        user.classList.remove("remove")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online';
      });
      
      socket.on("isOffline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is offline`)
        
        user.classList.remove("online")
        user.classList.add("offline")
        user.innerHTML = '<i class="fa fa-times"></i> offline';        
      })
      
    </script>    
  </body>
</html>