<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>    
  </head>
  <body class="loading-body" id="body">
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    <main class="main">
<!--     navbar -->
    <div class="navbar">
      <div class="navbar-brand">
        <span class="navbar-brand brand" onclick="location.href='/me/developer'">D</span>
      </div>
      <div class="navbar-navigation" id="navbar">
      <div class="navbar-toggle-2" id="navbar-toggle-2">
        <span onclick="toggleNavbar()" class="navbar-toggle-2-icon"><i class="fa fa-close"></i></span>
      </div>
      <ul class="navbar-nav">
        <li class="navbar-link"><a onclick="shareURL()">Share</a></li>
        <li class="navbar-link"><a href="/faq">FAQ</a></li>
        <li class="navbar-link"><a href="https://www.npmjs.com/package/zhat.js">Npm</a></li>
      </ul>
      <button style="margin-left: 16px;" class="btn btn-primary btn-getstarted" onclick="location.href='/me/developer'">
        Back
      </button>        
      </div>
      <div class="navbar-toggle" id="navbar-toggle" onclick="toggleNavbar()">
        <span class="navbar-toggle-icon"><i class="fa fa-bars"></i></span>
      </div>
    </div>
      
      <div class="bot-info">
        <div class="bi-box bi-avatar-username">
          <img src="<%= bot.Avatar %>" alt="Bot avatar" onerror="this.src='https://i.stack.imgur.com/l60Hf.png'" loading="lazy">
          <form method="post">
            <input style="margin-top: 20px;" class="input-box" type="url" name="avatar" id="avatar" placeholder="Bot avatar" value="<%= bot.Avatar ? bot.Avatar : "" %>" autocomplete="off" onchange="nameChange()">   
            <input style="margin-top: 20px;" class="input-box" type="text" name="username" id="username" placeholder="John Doe" value="<%= bot.Username %>" autocomplete="off" onchange="nameChange()" required>   
            <button class="btn btn-primary" type="submit" style="display: none; margin: 10px auto;" id="btn1">
              Save
            </button>
          </form>
        </div>
        <div class="bi-box">
          <button class="btn btn-primary" onclick="navigator.clipboard.writeText('<%= bot.UID %>'), alert('Copied')">
            Copy id
          </button>
          <button class="btn btn-primary" onclick="copyToken()">
            Copy token
          </button>
          <button class="btn btn-primary" onclick="regenerateToken()">
            Regenerate token
          </button>
          <button class="btn btn-primary" onclick="navigator.clipboard.writeText('https://zhat.cf/invite/<%= bot.UID %>'), alert('Copied')">
            Copy invite
          </button>  
          <button class="btn btn-primary" onclick="deleteBot()">
            Delete
          </button>            
        </div>
      </div>

    </main>
    <script>
      <% if (req.query.error) { %>
      alert('<%= req.query.error %>')
      <% } %>
      
      let input = document.getElementById("username");
      let token = '<%= bot.TOKEN %>';
      
      function deleteBot() {
        let yn = confirm("Are you sure to delete this bot?");
        if (!yn) return;
        
        fetch("https://zhat.cf/api/bot/v1/delete", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            token: token,
            uid: '<%= req.session.user.UID %>'
          })
        }).then(res => res.json()).then(data => {
          if (data.error) return alert(data.error.msg);
          return location.href = '/me/developer'
        })
      }
      
    function nameChange() {
      document.getElementById("btn1").style.display = "block"
    }
    </script>
    <script>
    let isNavbar = false;
      
      function toggleNavbar() {
        let navbar = document.getElementById("navbar");
        
        if (isNavbar) {
          navbar.classList.remove("on");
          isNavbar = false;
        } else if (!isNavbar) {
          navbar.classList.add("on");
          isNavbar = true;
        }
      }
      
      function copyToken() {
        navigator.clipboard.writeText(token);
        return alert("Copied")
      }
      
      function regenerateToken() {
        
        let yn = confirm("Are you sure to regenerate bot token?");
        if (!yn) return;
        
        fetch("https://zhat.cf/api/bot/v1/regenerate", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({token: token, owner: '<%= req.session.user.UID %>'})
        }).then(res => res.json()).then(data => {
          if (data.error) return alert(data.error.msg);
          token = data.TOKEN;
          alert("Token has been regenerate")
        });
        
      }
    
    </script>
    <script>
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
      
      async function shareURL() {
const shareData = {
  title: 'Zhatting Chatapp',
  text: 'Find friends on Zhatting',
  url: 'https://zhat.cf',
}
  try {
    await navigator.share(shareData)
  } catch(err) {
    console.log("Cant open share pop up", err)
  }    
      }         
    </script>
  </body>
</html>