<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>

    <div class="chats">
      <div class="back-btn">
      <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
        Back
      </button>
<!--       <button class="btn btn-primary" style="margin: 10px;">
        <i class="fa fa-video-camera"></i>
        </button> -->
      </div>
      
    <div class="chat-box" id="chat-list">
      <div class="he">
        <img class="he-avatar" src="https://img.freepik.com/free-vector/locker_53876-25496.jpg?size=626&ext=jpg">
        <div class="he-name-msg">
          <% let date = new Date(); %>
          <% let timenow = date.getTime() %>
        <span class="he-name">System</span>
        <span class="he-msg">Start chatting!</span>          
        </div>
      </div>      
    </div>
      <form action="" class="send-msg" id="form">
        <button type="button" class="btn btn-primary" style="min-width: auto; width: 50px !important;" onclick="emojiToggle()">
          🙂
        </button>
        <emoji-picker></emoji-picker>
      <input autocomplete="off" id="input-msg" class="msg-input" type="text" maxlength="100" placeholder="max 100 characters" required><button type="submit" class="btn btn-primary">send</button>
      </form>
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    
    <script>
      
    var socket = io();
      
      
      let locationHref = window.location.href.split("chat/")[1]
      var form = document.getElementById("form");
      var input = document.getElementById("input-msg");
      let chats = document.getElementById(`chat-list`);
      let emoji = document.querySelector('emoji-picker');
      emoji.style.display = "none";
      let emojiDisplay = false;
      scrollTo(0, chats.scrollHeight)
      <% if (messages.List[0]) { %>
      <% messages.List.map(msg => { %>
      createMessage(<%- JSON.stringify(msg.author) %>, '<%= msg.content %>', '<%= msg.time %>', "<%= msg.type %>")
      <% }) %>
      <% } %>
      
      
      function emojiToggle() {
        if (emojiDisplay) {
          emoji.style.display = "none"
          emojiDisplay = false;
        } else {
          emoji.style.display = "block"
          emojiDisplay = true;
        }
      }
      
      emoji.addEventListener('emoji-click', event => {
        emojiToggle()
        input.value += event.detail.unicode;
      }); 
      
      form.addEventListener('submit', function(e) {
        socket.emit('message', {author: <%- JSON.stringify(req.session.user) %>, content: input.value, to: '<%= he.UID %>'});
        e.preventDefault();
        form.reset()
      });
      
function scrollToBottom() {
  scrollTo(0, chats.scrollHeight)
}    
      
      socket.on("message2", message => {
        console.log(message, window.location.href.split("chat/")[1])
        
        if (message.author.UID == '<%= req.session.user.UID %>') {  
            
        let POSTDATA = {author: message.author, content: message.content, time: moment().format('h:mm a'), to: message.to, type: "me"}
            
        fetch('https://zhat.cf/api/post/message', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
          body: JSON.stringify(POSTDATA),
        }).then(res => res.json()).then(data => {
          if (data.error) {
            return console.log(`cant post message: ${e}`)
          } else {
            return console.log(`posted:`, POSTDATA)
          }
        })
        
          createMessage(message.author, message.content, false,"me")
          scrollTo(0, chats.scrollHeight)
        }
        
        if (message.to == "<%= req.session.user.UID %>") {
            if (message.to == locationHref || message.author.UID !== locationHref) return;
      
        let POSTDATA = {author: message.author, content: message.content, time: moment().format('h:mm a'), to: message.to, type: "he"}
            
        fetch('https://zhat.cf/api/post/message', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
          body: JSON.stringify(POSTDATA),
        }).then(res => res.json()).then(data => {
          if (data.error) {
            return console.log(`cant post message: ${e}`)
          } else {
            return console.log(`posted:`, POSTDATA)
          }
        })      
      
          createMessage(message.author, message.content, false, "he")
          scrollTo(0, chats.scrollHeight)
        }
        
      })
      
      async function createMessage(user, content, time = false, mehe) {
        let base = document.createElement("div");
        base.setAttribute("class", mehe);
        chats.appendChild(base);
        
        let image = document.createElement("img");
        image.setAttribute("src", user.Avatar);
        image.setAttribute("class", `${mehe}-avatar`);
        base.appendChild(image);
        
        let namemsg = document.createElement("div");
        namemsg.setAttribute("class", "he-name-msg");
        base.appendChild(namemsg);
        
        let name = document.createElement("span");
        name.setAttribute("class", `${mehe}-name`)
        if (mehe == "me") {
          if (time) {
            name.textContent = `${time} - ${user.Username}`
          } else {
            name.textContent = `${moment().format('h:mm a')} - ${user.Username}`
          }
        } else {
          if (time) {
            name.textContent = `${user.Username} - ${time}`
          } else {
            name.textContent = `${user.Username} - ${moment().format('h:mm a')}`
          }
        }
        namemsg.appendChild(name)
        
        let message = document.createElement("span");
        message.setAttribute("class", `${mehe}-msg`);
        message.textContent = content;
        namemsg.appendChild(message);
        
        return true;
      }
      
    </script>
  </body>
</html> 