<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>

    <div class="chats">
      <div class="back-btn">
      <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
        Back
      </button>        
      </div>
      
    <div class="chat-box" id="chat-list">
      <div class="he">
        <img class="he-avatar" src="https://img.freepik.com/free-vector/locker_53876-25496.jpg?size=626&ext=jpg">
        <div class="he-name-msg">
        <span class"he-name">System</span>
        <span class="he-msg">Start chatting!</span>          
        </div>
      </div>      
    </div>
      <form action="" class="send-msg" id="form">
      <input autocomplete="off" id="input-msg" class="msg-input" type="text" maxlength="100" placeholder="max 100 characters" required><button type="submit" class="btn btn-primary">send</button>
      </form>
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script>
    var socket = io();
      
      let locationHref = window.location.href.split("chat/")[1]
      var form = document.getElementById("form");
      var input = document.getElementById("input-msg");
      let chats = document.getElementById(`chat-list`);
      
      form.addEventListener('submit', function(e) {
        socket.emit('message', {author: <%- JSON.stringify(req.session.user) %>, content: input.value, to: '<%= he.UID %>'});
        e.preventDefault();
        form.reset()
        scrollToBottom()
      });
      
function scrollToBottom() {
  chats.scrollTop = chats.scrollHeight;
}    
      
      socket.on("message2", message => {
        console.log(message, window.location.href.split("chat/")[1])
        
        if (message.author.UID == '<%= req.session.user.UID %>') {
          createMessage(message.author, message.content, "me")
        }
        
        if (message.to == "<%= req.session.user.UID %>") {
            if (message.to == locationHref) return;
            
          return createMessage(message.author, message.content, "he")
        }
        
      })
      
      async function createMessage(user, content, mehe) {
        let base = document.createElement("div");
        base.setAttribute("class", mehe);
        chats.appendChild(base);
        
        let image = document.createElement("img");
        image.setAttribute("src", user.Avatar);
        image.setAttribute("class", `${mehe}-avatar`);
        base.appendChild(image);
        
        let message = document.createElement("span");
        message.setAttribute("class", `${mehe}-msg`);
        message.textContent = content;
        base.appendChild(message);
        
        return true;
      }
      
    </script>
  </body>
</html> 