<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>

    <div class="chats">
      <div class="back-btn">
      <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
        Back
      </button>        
      </div>
      
    <div class="chat-box" id="chat-list">
      <div class="he">
        <img class="he-avatar" src="https://img.freepik.com/free-vector/locker_53876-25496.jpg?size=626&ext=jpg">
        <span class="he-msg">Start chatting!</span>
      </div>      
      <div class="me">
        <img class="me-avatar" src="<%= req.session.user.Avatar %>">
        <span class="me-msg">Hello sir!</span>
      </div>
      <div class="he">
        <img class="he-avatar" src="<%= req.session.user.Avatar %>">
        <span class="he-msg">Hello to!</span>
      </div>
      <div class="he">
        <img class="he-avatar" src="<%= req.session.user.Avatar %>">
        <span class="he-msg">How are you?</span>
      </div>
    </div>
      <form action="" class="send-msg" id="form">
      <input id="input-msg" class="msg-input" type="text" maxlength="100" placeholder="max 100 characters" required><button type="submit" class="btn btn-primary">send</button>
      </form>
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script>
    var socket = io();
      
      var form = document.getElementById("form");
      var input = document.getElementById("input-msg");
      let chats = document.getElementById("chat-list");
      
      form.addEventListener('submit', function(e) {
        socket.emit('message', {user: <%- JSON.stringify(req.session.user) %>, content: input.value});
        e.preventDefault();
        form.reset()
      });
      
      socket.on("message", message => {
        if (message.user.UID == '<%= req.session.user.UID %>') {
            return createMessage(message.user, message.content, "me")
        } else {
          return createMessage(message.user, message.content, "he")
        }
      })
      
      async function createMessage(user, content, mehe) {
        let base = document.createElement("div");
        base.setAttribute("class", mehe);
        base.setParent(chats);
        
        let image = document.createElement("img");
        image.setAttribute("src", user.Avatar);
        image.setAttribute("class", `${mehe}-avatar`);
        image.setParent(base);
        
        let message = document.createElement("span");
        message.setAttribute("class", `${mehe}-msg`);
        message.textContent = content;
        message.setParent(base);
        
        return true;
      }
      
    </script>
  </body>
</html> 