<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <% if (!req.session.user.Wallpaper) { %>
  <body class="loading-body" id="body">
  <% } else { %>
  <body class="loading-body" id="body" style="background-image: url('<%= req.session.user.Wallpaper %>'); background-size: cover; background-repeat: no-repeat; object-fit: cover; background-position: center; background-attachment: fixed;">
  <% } %>  
    
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    <audio src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Farpeggio-467.mp3"></audio>   
    <div class="modal" id="user-modal">
      <div class="modal-close">
        <i class="fa fa-close" onclick="toggleModal()"></i>
      </div>
      <div class="modal-pf" onclick="copyId()">
         <div class="pf-img-stats">
           <img class="pf-img" alt="avatar" src="<%= he.Avatar %>">
           <span class="pf-status offline" id="<%= he.UID %>"></span>
        </div>
        <div class="pf-username-click">
        <span class="pf-username"><%= he.Username %></span>
        <span class="pf-click">Click to copy user id</span>             
        </div>
      </div>
    </div>
    
    <main class="main">
      <div class="btn-back">
        <button class="btn btn-primary" onclick="location.href='/me'">
          Back
        </button>
        <div class="btn-info" onclick="toggleModal()" style="cursor: pointer;">
        <span class="acc-name"><%= he.Username %></span>
        <img src="<%= he.Avatar %>" alt="avatar" class="pf-img pf-2" style="margin-left: 10px;">          
        </div>
      </div>
      <div class="chats" id="chat-list">
        <div class="he-chat">
          <img src="https://img.freepik.com/free-vector/locker_53876-25496.jpg?size=626&ext=jpg" alt="He avatar" class="he-avatar">
          <div class="he-info">
            <p class="he-msg">Start chatting!</p>
          </div>
        </div>       
      </div>
      <div class="chat-up">
        
      </div>
      <div class="chat-form">
        <form method="get" id="form">
          <buton type="button" class="btn btn-primary" onclick="emojiToggle()" style="margin-right: 10px; display: flex; align-items: center; justify-content: center;">😄</buton>
          <emoji-picker></emoji-picker>
          <input autocomplete="off" id="input-msg" class="chat-input input-box" placeholder="max 100 character...">
          <button style="margin-left: 10px;" type="submit" class="btn btn-primary" id="submit-btn">
            👍
          </button>
        </form>
      </div>
    </main> 
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    
    <script>
    let modal = document.getElementById("user-modal");
      
      let display = false;
      
      function toggleModal() {
        if (display) {
          display = false;
          modal.classList.remove("on")
        } else {
          display = true;
          modal.classList.add("on")
        }
      }
      
      function copyId() {
        navigator.clipboard.writeText('<%= he.UID %>');
        alert("Copied")
      }
    </script>
    
    <script>
      
    var socket = io();
      
      const audio = document.querySelector("audio");
      let locationHref =  window.location.href.split("me/")[1].slice(0, 18)
      var form = document.getElementById("form");
      var input = document.getElementById("input-msg");
      let chats = document.getElementById(`chat-list`);
      let emoji = document.querySelector('emoji-picker');
      let subtn = document.getElementById("submit-btn")
      emoji.style.display = "none";
      audio.volume = 0.3;                                                    
      let emojiDisplay = false;
      
      <% if (messages.List[0]) { %>
      <% messages.List.map(msg => { %>
      if ('<%= msg.author.UID %>' == '<%= req.session.user.UID %>') {   
      createMessage(<%- JSON.stringify(msg.author) %>, '<%= msg.content %>', '<%= msg.time %>', "me")
      } else if ('<%= msg.to %>' == '<%= req.session.user.UID %>') {   
        if ('<%= msg.to %>' == locationHref || '<%= msg.author.UID %>' !== locationHref) {
                 
        } else {
      createMessage(<%- JSON.stringify(msg.author) %>, '<%= msg.content %>', '<%= msg.time %>', "he")
      }
      }
      <% }) %>
      <% } %>
      
      setTimeout(() => {
        scrollTo(0, chats.scrollHeight)
      }, <%= messages.List.length * 10 %>)
      
      
      function emojiToggle() {
        if (emojiDisplay) {
          emoji.style.display = "none"
          emojiDisplay = false;
        } else {
          emoji.style.display = "block"
          emojiDisplay = true;
        }
      }
      
      emoji.addEventListener('emoji-click', event => {
        emojiToggle()
        input.value += event.detail.unicode;
      }); 
      
      form.addEventListener('submit', function(e) {
        if (input.value == "") {                             
        e.preventDefault();
        form.reset()
        return;
        }
                                       
        let postDataMSG = {author: <%- JSON.stringify(req.session.user) %>, content: input.value, to: '<%= he.UID %>'};
        socket.emit('message', postDataMSG);
        socket.emit('newMessages', {id: '<%= req.session.user.UID %>', username: '<%= req.session.user.Username %>', to: '<%= he.UID %>', msg: input.value})
        e.preventDefault();
        form.reset()                             
        input.setAttribute("disabled", "disabled");
        input.setAttribute("placeholder", "cooldown");
        setTimeout(() => {
        input.disabled = false;
        input.setAttribute("placeholder", "max 100 characters");
        input.focus();
        }, 2000)
      });
      
function scrollToBottom() {
  scrollTo(0, chats.scrollHeight)
}    
      
      socket.on("message2", message => {

        if (message.author.UID == '<%= req.session.user.UID %>') {
          postMsg(message);
          createMessage(message.author, message.content, false, "me")
          scrollTo(0, chats.scrollHeight)
        }
        
        if (message.to == '<%= req.session.user.UID %>' && message.author.UID == locationHref) {
          audio.play()
          createMessage(message.author, message.content, false, "he")
          scrollTo(0, chats.scrollHeight)
        }
                
        
        
      })
      
      async function postMsg(message) {
        
        let POSTDATA = {author: message.author, content: message.content, time: moment().format('h:mm a'), to: message.to, type: "data"}
            
        fetch('https://zhat.cf/api/post/message', {
  method: 'PATCH',
  headers: {
    'Content-Type': 'application/json',
  },
          body: JSON.stringify(POSTDATA),
        }).then(res => res.json()).then(data => {
          if (data.error) {
            return console.log(`cant post message: ${e}`)
          } else {
            return;
          }
        })                
      }
      
      async function createMessage(user, content, time = false, mehe) {
        let base = document.createElement("div");
        base.setAttribute("class", `${mehe}-chat`);
        chats.appendChild(base);
        
        let image = document.createElement("img");
        image.setAttribute("src", user.Avatar);
        image.setAttribute("class", `${mehe}-avatar`);
        base.appendChild(image);
        
        let namemsg = document.createElement("div");
        namemsg.setAttribute("class", `${mehe}-info`);
        base.appendChild(namemsg);
        
        let name = document.createElement("span");
        name.setAttribute("class", `${mehe}-name`)
                                 

        
        let message = document.createElement("p");
        message.setAttribute("class", `${mehe}-msg`);
        let msgContent = ""
        let msgContentProto = content.split(/ +/g);
        msgContentProto.map(x => {
          if (x.startsWith("https://") || x.startsWith("http://")) {
            msgContent += ` <a style="color: black;" href="${x}" target="_blank">${x}</a>`
          } else {
            msgContent += ` ${x}`;
          }
        });
        message.innerHTML = msgContent;
        namemsg.appendChild(message);
        
        return true;
      }
      
    </script>
    <script>
      let postDataMsgThumb = {author: <%- JSON.stringify(req.session.user) %>, content: '👍', to: '<%= he.UID %>'};
                              
      input.addEventListener("keyup", () => {
      if (input.value && input.value !== "") {
        subtn.innerHTML = "Send!"
        subtn.type = "submit"
        subtn.disabled = false;          
      } else if (!input.value && input.value == "") {
        setTimeout(() => {
        subtn.type = "button"
        subtn.innerHTML = "👍"
        subtn.onclick = function() {
        socket.emit('message', postDataMsgThumb);
        socket.emit('newMessages', {id: '<%= req.session.user.UID %>', username: '<%= req.session.user.Username %>', to: '<%= he.UID %>', msg: "👍"})
                                     
        
        subtn.disabled = true
        subtn.classList.add("disabled");
        
        setTimeout(() => {
          subtn.disabled = false
        subtn.classList.remove("disabled");
        }, 2000)
        }
        }, 100)
      }        
      })
    </script>    
    <script>
      
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
      
    </script>   
    <script>
    let isNavbar = false;
      
      function toggleNavbar() {
        let navbar = document.getElementById("navbar");
        
        if (isNavbar) {
          navbar.classList.remove("on");
          isNavbar = false;
        } else if (!isNavbar) {
          navbar.classList.add("on");
          isNavbar = true;
        }
      }
    
    </script>
    <script>
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
    </script>
    <script>
                  
      socket.on("someoneOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
      
        
        user.classList.remove("offline")
        user.classList.add("online")
      })
      
      socket.on("newMessage", (opt) => {
        let user = document.getElementById(`${opt.id}-lastmsg`);
        if (opt.to !== '<%= req.session.user.UID %>') return;
        if (!user) return;
        
        audio.play();
        user.innerHTML = `${opt.id == '<%= req.session.user.UID %>' ? '(you):' : '(new messages):'} ${opt.msg}`;
      })
                  
      socket.on("isOnline", userId => {
        socket.emit("updateOnline", '<%= req.session.user.UID %>')
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is online`)
        
        user.classList.remove("offline")
        user.classList.add("online")
      });
      
      socket.on("isOffline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is offline`)
        
        user.classList.remove("online")
        user.classList.add("offline")      
      })
      
    </script>    
  </body>
</html>
<!--  -->
