<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="navbar-brand">
      Zhatting - online chat app
      <ul style="list-style: none; display: flex; flex-direction: row;">
        <li style="margin-left: 5px;"><a href="/faq" target="_blank">FAQ</a></li>
        <li style="margin-left: 5px;"><a href="https://saweria.co/Vins2106" target="_blank">donate</a></li>
      </ul>
    </div>
    <div class="navbar-account">
      <div class="profile" onclick="location.href = '/settings'">
      <img class="account-avatar" alt="avatar" src="<%= req.session.user.Avatar %>">
      <span class="account-username"><%= req.session.user.Username %></span>
      </div>
      <div class="btn-list">
      <button class="btn btn-primary" onclick="location.href = '/settings'">
        <i class="fa fa-gear"></i>
      </button>
      <button class="btn btn-danger" onclick="location.href = '/logout'">
        Logout
      </button>        
      </div>
    </div>
    
    <% if (!contacts[0]) { %>
    <h3 class="no-contact">
      no user available
    </h1>
    <% } else { %>
    <% contacts.map(u => { %>
    <div class="account-list">
      <div class="account" onclick="location.href = '/chat/<%= u.uid %>'" >
      <img class="account-avatar-2" alt="avatar" src="<%= u.avatar %>">
      <span class="account-username-2"><%= u.username %></span>
      <span class="account-last-msg-2" id="<%= u.uid %>-lastmsg"><%= u.messages.List[u.messages.List.length - 1] ? u.messages.List[u.messages.List.length - 1].author.UID == req.session.user.UID ? `(you): ${u.messages.List[u.messages.List.length - 1].content}` : `(${u.messages.List[u.messages.List.length - 1].author.Username}): ${u.messages.List[u.messages.List.length - 1].content}` : "" %></span>
      <span class="account-isonline offline" id="<%= u.uid %>" style="width: -webkit-fill-available; text-align: right; padding-right: 10px;"><i class="fa fa-times"></i></span>
      </div>
    </div>      
    <% }) %>
    <% } %>
    
    <div class="add-contact" onclick="location.href = '/contact/add'">
      <i class="fa fa-plus" style="font-size: 200%;"></i>
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script>
      
      
    let socket = io();
      
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
                  
      socket.on("someoneOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
      
        
        user.classList.remove("offline")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i>'  
      })
                  
      socket.on("isOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        socket.emit("updateOnline", '<%= req.session.user.UID %>')
        console.log(`${userId} is online`)
        
        user.classList.remove("remove")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i>';
      });
      
      socket.on("isOffline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is offline`)
        
        user.classList.remove("online")
        user.classList.add("offline")
        user.innerHTML = '<i class="fa fa-times"></i>';        
      })
      
    </script>
  </body>
</html> 