<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="navbar-brand">
      Zhat - online chat app
      <ul style="list-style: none; display: flex; flex-direction: row;">
        <li style="margin-left: 5px;"><a href="/faq" target="_blank">FAQ</a></li>
        <li style="margin-left: 5px;"><a href="https://saweria.co/Vins2106" target="_blank">donate</a></li>
      </ul>
    </div>
    <div class="navbar-account">
      <div class="profile" onclick="location.href = '/settings'">
      <img class="account-avatar" alt="avatar" src="<%= req.session.user.Avatar %>">
      <span class="account-username"><%= req.session.user.Username %></span>
      </div>
      <div class="btn-list">
      <button class="btn btn-primary" onclick="location.href = '/settings'">
        <i class="fa fa-gear"></i>
      </button>
      <button class="btn btn-danger" onclick="location.href = '/logout'">
        Logout
      </button>        
      </div>
    </div>
    
    <% if (!contacts[0]) { %>
    <h3 class="no-contact">
      no user available
    </h1>
    <% } else { %>
    <% contacts.map(u => { %>
    <div class="account-list">
      <div class="account" onclick="location.href = '/chat/<%= u.uid %>'" >
      <img class="account-avatar-2" alt="avatar" src="<%= u.avatar %>">
      <span class="account-username-2"><%= u.username %></span>        
      </div>
    </div>      
    <% }) %>
    <% } %>
    
    <div class="add-contact" onclick="location.href = '/contact/add'">
      <i class="fa fa-plus" style="margin-top: 25%; font-size: 30px;"></i>
    </div>
    
  </body>
</html> 