<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body class="loading-body" id="body">
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    <main style="display: flex; justify-content: center; align-items: center; flex-direction: column; ">
      <% if (error) { %>
    <div class="error">
      <span class="error-msg"><%= msg %>. <a href="/signup">create account here</a></span>
    </div>      
      <% } %>
      <div class="box-1">
        <span class="box-1-title">Hi <%= req.session.user.Username %></span>
        <hr style='border-color: black; margin-top: 10px;'>
        <form method="post">
        <div class="box-1-list">
          <div class="box-1-input">
            <label for="username">Username</label>
            <input class="input-box" type="text" name="username" id="username-input" value="<%= req.session.user.Username %>" autocomplete="on" required>
          </div>
          <div class="box-1-input">
            <label for="email">Email</label>
            <input class="input-box" type="email" name="email" id="email-input" value="<%= req.session.user.Email %>" autocomplete="off" required>
          </div>  
          <div class="box-1-input">
            <label for="password">Password <small onclick="showPass()" style="cursor: pointer;">(click here to show/hide)</small></label>
            <input class="input-box" type="password" name="password" id="password-input" value="<%= req.session.user.Password %>" autocomplete="off" required>
          </div>      
          <div class="box-1-input">
            <label for="avatar">Avatar</label>
            <input class="input-box" type="url" name="avatar" id="avatar-input" value="<%= req.session.user.Avatar %>" autocomplete="off" required>
          </div>
          <div class="box-1-input">
            <label for="wallpaper">Custom wallpaper <a href="#" onclick="removeWallpaper()">(remove)</a></label>
            <input class="input-box" type="url" name="wallpaper" id="wallpaper-input" value="<%= req.session.user.Wallpaper ? req.session.user.Wallpaper : "" %>" autocomplete="off">
          </div>
          <div class="box-1-input">
            <button type="button" class="btn btn-primary" onclick="copyID()">
              Copy your id
            </button>
            <br>
            <button type="button" class="btn btn-primary" onclick="copyURL()">
              Share
            </button>
          </div>            
        </div>
          <div class="box-1-submit">
            <a href="/me">back</a>
            <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
              Save
            </button>
          </div>
        </form>
      </div>
    </main>
    <script>
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
    </script>
    <script>
    let pass = document.getElementById('password-input');
      let type = false;
      
      function showPass() {
        if (type) {
          pass.type = "password"
          type = false;
        } else {
          type = true;
          pass.type = "text"
        }
      }
      
      function copyID() {
        navigator.clipboard.writeText('<%= req.session.user.UID %>');
        alert("Copied")
      }
      
      function copyURL() {
        let url = '<%= req.session.user.UID %>'
        navigator.clipboard.writeText(`https://zhat.cf/invite/<%= req.session.user.UID %>`);
        alert("Copied")        
      }
      
      function removeWallpaper() {
        document.getElementById("wallpaper-input").value = ""
      }
      
(function(){
  
  var shareButtons = document.querySelectorAll(".share-btn");

  if (shareButtons) {
      [].forEach.call(shareButtons, function(button) {
      button.addEventListener("click", function(event) {
 				var width = 650,
            height = 450;

        event.preventDefault();

        window.open(this.href, 'Share Dialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,width='+width+',height='+height+',top='+(screen.height/2-height/2)+',left='+(screen.width/2-width/2));
      });
    });
  }

})();      
    </script>    
    <script>
    let socket = io();
      
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
                  
      socket.on("someoneOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
      
        
        user.classList.remove("offline")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online'  
      })
      
      socket.on("newMessage", (opt) => {
        let user = document.getElementById(`${opt.id}-lastmsg`);
        if (opt.to !== '<%= req.session.user.UID %>') return;
        if (!user) return;
        
        user.innerHTML = `${opt.id == '<%= req.session.user.UID %>' ? '(you):' : '(new messages):'} ${opt.msg}`;
      })
                  
      socket.on("isOnline", userId => {
        socket.emit("updateOnline", '<%= req.session.user.UID %>')
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is online`)
        
        user.classList.remove("remove")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online';
      });
      
      socket.on("isOffline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is offline`)
        
        user.classList.remove("online")
        user.classList.add("offline")
        user.innerHTML = '<i class="fa fa-times"></i> offline';        
      })
      
    </script>      
  </body>
</html>