<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="ta-center">
      
      <% if (error) { %>
    <div class="error">
      <span class="error-msg"><%= msg %></span>
    </div>      
      <% } %>
      
    <div class="box-1 cv">
<form method="post">
  <h1 style="color: #ddd; text-align: center;">
    Hi <%= req.session.user.Username %>!
  </h1>
  
  <div class="form-control">
    <label for="username-input">Username</label>
    <input name="username" type="text" class="form-input" id="username-input" value="<%= req.session.user.Username %>" required>
  </div>  
  <div class="form-control">
    <label for="email-input">Email</label>
    <input type="email" class="form-input" id="email-input" aria-describedby="email-help" value="<%= req.session.user.Email %>" disabled>
    <input name="email" value="<%= req.session.user.Email %>" type="hidden">
  </div>
  <div class="form-control" onclick="navigator.clipboard.writeText('<%= req.session.user.UID %>');">
    <label for="uid-input">User ID (click to copy)</label>
    <input type="uid" class="form-input" id="uid-input" aria-describedby="uid-help" value="<%= req.session.user.UID %>" disabled>
    <input name="uid" value="<%= req.session.user.UID %>" type="hidden">
  </div>  
  <div class="form-control" onclick="showPass()">
    <label for="password-input" onclick="showPass()">Password (click to show/hide)</label>
    <input name="password" type="password" class="form-input" id="password-input" value="<%= req.session.user.Password %>" required>
  </div>
  <div class="form-control">
    <label for="avatar-input">Avatar</label>
    <input name="avatar" type="url" class="form-input" id="avatar-input" value="<%= req.session.user.Avatar %>" required>
  </div>  
  
  <div class="btn-submit">
    <a style="margin-right: 10px;" href="/">back</a><a style="margin-right: 10px;" href="/logout">logout</a><button type="submit" class="btn btn-primary">Save</button>    
  </div>
</form>
    </div>
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous">
    <script>
      let socket = io();
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
    </script>
    
    <script>
    let pass = document.getElementById('password-input');
      let type = false;
      
      function showPass() {
        if (type) {
          pass.type = "password"
          type = false;
        } else {
          type = true;
          pass.type = "text"
        }
      }
    </script>
  </body>
</html>