<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body>
    
    <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
      Back
    </button>
    
    <h1 style="text-align: center; color: black;">
      Changes Logs
    </h1>
    
    <div class="faq-list">
    <div class="faq" id="18820213">
      <h2 onclick="navigator.clipboard.writeText(window.location.href.split('#')[0]  + '#18820213');" style="margin-bottom: 15px;">
        18 / 8 / 2021 - 20:06 (wita)
      </h2>
      <p>
        Add <strong>Notification sound</strong>
      </p>
    </div>       
    <div class="faq" id="18820212">
      <h2 onclick="navigator.clipboard.writeText(window.location.href.split('#')[0]  + '#18820212');" style="margin-bottom: 15px;">
        18 / 8 / 2021 - 17:54 (wita)
      </h2>
      <p>
        Fix bugs
      </p>
    </div>          
    <div class="faq" id="18820212">
      <h2 onclick="navigator.clipboard.writeText(window.location.href.split('#')[0]  + '#18820212');" style="margin-bottom: 15px;">
        18 / 8 / 2021 - 15:56 (wita)
      </h2>
      <p>
        Reset <strong>messages data</strong> & <strong>contacts data</strong> to fix some issues
      </p>
    </div>       
    <div class="faq" id="1882021">
      <h2 onclick="navigator.clipboard.writeText(window.location.href.split('#')[0]  + '#1882021');" style="margin-bottom: 15px;">
        18 / 8 / 2021 - 15:55 (wita)
      </h2>
      <p>
        Made this page
      </p>
    </div>       
    </div>
    
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous">
    </script>
    <script>
    let socket = io();
      
      console.log("connected")
      socket.emit("isConnected", '<%= req.session.user.UID %>')
                  
      socket.on("someoneOnline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
      
        
        user.classList.remove("offline")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online'  
      })
      
      socket.on("newMessage", (opt) => {
        let user = document.getElementById(`${opt.id}-lastmsg`);
        if (opt.to !== '<%= req.session.user.UID %>') return;
        if (!user) return;
        
        user.innerHTML = `${opt.id == '<%= req.session.user.UID %>' ? '(you):' : '(new messages):'} ${opt.msg}`;
      })
                  
      socket.on("isOnline", userId => {
        socket.emit("updateOnline", '<%= req.session.user.UID %>')
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is online`)
        
        user.classList.remove("remove")
        user.classList.add("online")
        user.innerHTML = '<i class="fa fa-check"></i> online';
      });
      
      socket.on("isOffline", userId => {
        let user = document.getElementById(userId);
        if (!user) return;
        console.log(`${userId} is offline`)
        
        user.classList.remove("online")
        user.classList.add("offline")
        user.innerHTML = '<i class="fa fa-times"></i> offline';        
      })
      
    </script>   
  </body>
</html>